# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules  # Node.js modules, can be reinstalled
/.pnp  # Plug'n'Play dependency management files
.pnp.js
.yarn/install-state.gz  # Yarn-specific file

pnpm-lock.yaml  # pnpm lock file (uncomment if you're using npm or yarn)
.pnpm-store/  # pnpm store directory

# Testing
/coverage  # Test coverage reports

# Next.js build output
/.next/
/out/

# Production build
/build

# Miscellaneous
.DS_Store  # macOS folder attributes
*.pem  # SSL/TLS certificate files

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*  # All .env files (contains sensitive information)

# Vercel
.vercel  # Vercel deployment information

# TypeScript
*.tsbuildinfo  # TypeScript incremental build info
next-env.d.ts  # Next.js TypeScript declarations

# Project-specific
prismaScheme.txt  # Prisma database schema (if applicable)
certificates  # SSL/TLS certificates directory

# Sentry
.env.sentry-build-plugin  # Sentry build configuration

# Qodana
/qodana.yaml  # Include Qodana configuration (remove ! to ignore)

# JetBrains IDE
.idea/  # JetBrains IDE settings

# Code Quality and Analysis
.deepsource.toml  # DeepSource configuration
.eslintrc.json  # ESLint configuration

# Firebase
firebase.json  # Firebase configuration
.firebaserc  # Firebase project configuration
storage.rules  # Firebase storage rules

# npm
.npmrc  # npm configuration file

# Docker
.dockerignore  # Docker ignore file (remove if you want to track it)

# Keep Qodana configuration (remove this line to ignore it)
qodana.yaml